<div class="container">
  <div class="row" data-aos-once="false" data-aos="slide-up">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <div class="row">
        <div class="col">
          <h2>Welcome to Book Chat!</h2>
          <p>We are an online resource for all book lovers. If you want to find out more about your favorite books and authors, or
            are looking for something new to fall in love with, you have come to the right place!
          </p>
        </div>
      </div>
      <div class="row grid">
        <div class="card grid-item1" style="max-width: 250px">
          <img class="card-img-top" src="https://i.ibb.co/9wLbPpm/New-York-Times-Logo.jpg" alt="NY Times logo">
          <div class="card-body">
            <h5 class="card-title">Current Bestsellers</h5>
            <p class="card-text">Find out what everyone is talking about in literature from the NY Times' weekly bestseller lists.</p>
          </div>
        </div>
        <div class="card grid-item2" style="max-width: 250px;">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2019/02/06/08/46/author-3978658_1280.jpg" alt="author typing">
          <div class="card-body">
            <h5 class="card-title">Author Bios</h5>
            <p class="card-text">Learn everything there is to know about any author. Just type their name in the search box.</p>
          </div>
        </div>
        <div class="card grid-item3" style="max-width: 250px;">
          <img class="card-img-top" src="https://i.ibb.co/yXNh1Hj/fave-booka.jpg" alt="opened book with heart on it">
          <div class="card-body">
            <h5 class="card-title">Book Info</h5>
            <p class="card-text">Search books by their title or author. Find out about their series, author, reviews, and more.</p>
          </div>
        </div>
        <div class="card grid-item4" style="max-width: 250px">
          <img class="card-img-top" src="https://www.maxpixel.net/static/photo/1x/Literature-Books-Bookshelf-Shelf-Library-Bookcase-2007660.jpg" alt="bookshelf full of books">
          <div class="card-body">
            <h5 class="card-title">Add to Faves</h5>
            <p class="card-text">Add the books that peak your interest to your virtual bookshelf to preview or buy later.</p>
          </div>
        </div>
      </div>
        </div>
  </div>
<div data-aos="slide-up-inv" data-aos-delay="1500" class="row">
  <div class="col text-center">
      <a routerLink="/about" class="btn btn-primary">Learn More</a>
  </div>
</div>  
</div>
