.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 20%;
}

h2, h4 {
  text-transform: uppercase;
}

p#imageintro {
  margin: 50px auto;
}

@media only screen and (min-width: 768px) and (max-width: 870px) {
    .carousel {
        padding-top: 40px;
        }
  }

@media only screen and (min-width: 1025px) {
    .height {
        padding: 5%;
    }
  }

  @media only screen and (min-width: 1210px) {
    .height {
        padding: 7%;
    }
  }