h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.button-row-style {
  margin: 50px auto;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: 65vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 20%;
}

@media only screen and (max-width: 600px) {
  .small-btn {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
      "one two"
      "three four";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .one {
    grid-area: one;
    border: 1px solid gray;
  }

  .two {
    grid-area: two;
    border: 1px solid gray;
  }

  .three {
    grid-area: three;
    border: 1px solid gray;
  }

  .four {
    grid-area: four;
    border: 1px solid gray;
  }

  .col-carousel {
    width: 100%;
  }
}

@media only screen and (max-width:768px) {
  h2 {
    margin-top: 15px;
  }

  .button-row-style {
    margin: 10px auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .col-carousel {
    width: 50%;
  }
  .img-fluid {
    height: 50vh;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .col-carousel {
    width: 33%;
  }
  .img-fluid {
    height: 50vh;
  }
}

@media only screen and (min-width: 1100px) {
  .col-carousel {
    width: 25%;
  }
  .img-fluid {
    height: 60vh;
  }
}
