<div class="container" style="height: 100vh">
<div class="row text-center">
    <h2>FEATURED BOOKS</h2>
</div>
<div class="carousel-inner text-center"  style="height:90vh">
    <div class="item active">
        <div class="row">
            <div class="col-sm-3" *ngFor="let book of books[0].results.books | slice:0:8" style="margin: 0; padding: 0; width: 40vh"> 
                <div style="height: 45vh; width: 100%; padding: 0; margin: 0"><a href="#"><img src="{{ book.book_image }}" class="img-responsive" style="width: 100%; height: 45vh;"></a></div>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="col-md-12">
        <div class="well">
            <div id="myCarousel" class="carousel slide"> -->
                
                <!-- Carousel items -->
                <!-- <div class="carousel-inner text-center" style="height: 75vh">
                    <div class="item active" *ngFor="let book of books[0].results.books">
                        <div class="row">
                            <div class="col-sm-3"> 
                                <div style="font-weight: 700">{{book.title}}</div>
                                <div><a href="#x"><img src="{{ book.book_image }}" alt="twilight cover" class="img-responsive" style="min-height: 250px; margin: 0 auto"></a></div>
                                <div style="font-weight: 700; margin: 2em 0">{{ book.average_rating }}</div>
                            </div>
                            </div>
                        </div> -->
                        
                        

                        <!-- /row-->
                    <!-- </div> -->
                    <!-- /item -->
                    <!-- <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                        </div> -->
                        <!--/row-->
                    <!-- </div> -->
                    <!--/item-->
                    <!-- <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                        </div> -->
                        <!--/row-->
                    <!-- </div> -->
                    <!--/item-->
                <!-- </div> -->
                <!-- /carousel-inner <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> -->
<!-- 
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div> -->
            <!--/myCarousel-->
        <!-- </div> -->
        <!--/well-->
    <!-- </div> -->