
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <!-- <div class="card">
            <div class="card-header" style="margin-left: 43%">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active">Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Authors</a>
                </li>
              </ul>
            </div>
            <div class="card-body"> -->
              <div class="row">
                <div><app-featured-books></app-featured-books></div>             
              </div>
            </div>
          </div>
      
