.jumbotron {
  background: url('https://i.ibb.co/4ZymY4T/header-img.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
}

.position {
  position: relative;
  top: 15%;
  text-align: center;
}

.display-3 {
  text-transform: capitalize;
  font-family: 'Marck Script', cursive, sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.lead {
  font-style: italic; 
  animation: 5s ease-in 0s 1 slideInFromLeft;
}

.line-style {
    border-top: 5px double #333;
}

.searchbox-style {
  background-color: white;
  padding: 2em 1em; 
  border-radius: 1.5%;
}

.active {
  background-color: white;
}

.card-body-style {
  padding-top: 2em;
}

.input-width {
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .searchbox-style {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .searchbox-style {
    margin: 0 auto;
    width: 75%;
  }
}

