
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <div class="container">
                <div class="row">
                    <a class="navbar-brand">Book Chat</a>
                    <ul class="nav navbar-nav pull-right" routerLinkActive="active">
                        <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
                    </ul>
                </div>
              </div>
    </nav>
    <div class="jumbotron jumbotron-fluid vh-100" style="background:url(https://pikwizard.com/photos/c8342848ad45116a143ae23951db27ff-m.jpg) no-repeat; background-size: cover; min-height: 100vh">
      <div class="container-fluid text-center" style="margin-top: 20vh">
        <h1 class="display-1 text-uppercase">Fluid jumbotron</h1>
        <p>Some text</p>

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <hr style="border-top: 5px double #333">
          </div>
        
          <div class="col-xs-6 col-xs-offset-3" style="background-color: white; padding: 2em 1em; border-radius: 1.5%">
              <div class="card text-left">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item" (click)="bookSearchOn()">
                        <a class="nav-link active">Books</a>
                      </li>
                      <li class="nav-item" (click)="authorSearchOn()">
                        <a class="nav-link" routerLink="/author-search">Authors</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                      <form class="form-block" style="padding-top: 2em">
                        <div class="row">
                            <div class="col-xs-10" [ngSwitch]="authorSearch">
                              <div *ngSwitchCase="'book-clicked'"><app-search-book></app-search-book></div>
                             <div *ngSwitchCase="'author-clicked'"><app-search-author></app-search-author></div>   
                             <div *ngSwitchDefault><app-search-book></app-search-book></div> 
                            </div>
                          <div class="col-xs-2">
                              <button type="submit" class="btn btn-primary mb-2">Search</button>
                          </div>
                        </div>
                        </form>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>