<div class="jumbotron vh-100">
  <div class="position container">
    <h1 [@bounce]="bounce" class="display-3">“Never put off till tomorrow the book you can read today.”</h1>
    <p class="lead">– Holbrook Jackson</p>
    <hr class="line-style">
        <div class="searchbox-style col-sm-8 col-sm-offset-2">
        <div class="card text-left"> 
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item" (click)="bookSearchOn()">
                <a [ngClass]="{'active': authorSearch === '' || authorSearch === 'book-clicked'}" class="nav-link">Books</a>
              </li>
              <li class="nav-item" (click)="authorSearchOn()">
                <a [ngClass]="{'active': authorSearch === 'author-clicked'}" class="nav-link">Authors</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="form-block card-body-style">
              <div class="row" [ngSwitch]="authorSearch">
                <div class="input-width" *ngSwitchCase="'book-clicked'">
                  <app-search-book></app-search-book>
                </div>
                <div class="input-width" *ngSwitchCase="'author-clicked'">
                  <app-search-author></app-search-author>
                </div>
                <div class="input-width" *ngSwitchDefault><app-search-book></app-search-book></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
