<nav
  class="navbar navbar-static-top navbar-expand-md navbar-light bg-light mb-0"
>
  <a [@flip]="flip" class="navbar-brand navbar-header pull-left" routerLink="/home">Book Chat</a>
  <div class="navbar-header pull-right invisible-lg">
    <ul id="icons" class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-social-icon btn-twitter" href="#">
          <span class="fa fa-twitter"></span>
      </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-social-icon btn-facebook" href="#">
          <span class="fa fa-facebook"></span>
      </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-social-icon btn-pinterest" href="#">
          <span class="fa fa-pinterest"></span>
      </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-social-icon btn-instragam" href="#">
          <span class="fa fa-instagram"></span>
      </a>
      </li>
    </ul>
  </div>
  <button
    (click)="toggleCollapse()"
    class="navbar-toggler order-first"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [class.show]="show"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
    </ul>
  </div>
  <div class="navbar-header pull-right invisible-sm">
    <ul id="icons" class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-social-icon btn-twitter" href="#">
          <span class="fa fa-twitter"></span>
      </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-social-icon btn-facebook" href="#">
          <span class="fa fa-facebook"></span>
      </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-social-icon btn-pinterest" href="#">
          <span class="fa fa-pinterest"></span>
      </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-social-icon btn-instragam" href="#">
          <span class="fa fa-instagram"></span>
      </a>
      </li>
    </ul>
  </div>
</nav>
