<div class="container-fluid">
  <div id="body" class="row">
    <div class="col text-center">
        <h1>Welcome to Book Chat</h1>
    </div>
  </div>
  <div id="body" class="row">
    <div class="col text-center">
        <p>We are an online resource for all book lovers. Whether you want to find out more about your favorite books and authors, or
            are simply looking for something new to fall in love with, you have come to the right place!
        </p>
    </div>
  </div>
    <div class="row">
      <div class="col grid">
            <img data-aos="slide-right" class="grid-item1-txtpic img-fluid" style="border: 1px solid black" src="https://i.ibb.co/9wLbPpm/New-York-Times-Logo.jpg" alt="NY Times logo">
        <div data-aos="slide-left" class="grid-item2-txtpic">
            <h2 class="text-center">Current Bestsellers</h2>
            <p class="text-center">Find out what everyone is talking about from the NY Times' weekly bestseller lists. Discover new books to fall in love with in the Fiction, Non-Fiction, Young Adult and Children books' categories.</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col grid">
              <img data-aos="slide-right" class="grid-item2-pictxt img-fluid" style="border: 1px solid black" src="https://cdn.pixabay.com/photo/2019/02/06/08/46/author-3978658_1280.jpg" alt="author typing">
          <div data-aos="slide-left" class="grid-item1-pictxt">
              <h2 class="text-center">Author Bios</h2>
              <p class="text-center">Learn everything there is to know about any author. Just type their name in the search box to get their biography, list of published series, and list of published books. </p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col grid">
                <img data-aos="slide-right" class="grid-item1-txtpic img-fluid" style="border: 1px solid black" src="https://i.ibb.co/yXNh1Hj/fave-booka.jpg" alt="opened book with heart on it">
            <div data-aos="slide-left" class="grid-item2-txtpic">
                <h2 class="text-center">Book Info</h2>
                <p class="text-center">Search books by their title or author, and get a description and preview, author info, reviews, and more. Furthermore, have you ever come across a book and wondered what books come before or after it in its series? Well, here at Book Chat, you can easily get this information as well.</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col grid">
                  <img data-aos="slide-right" class="grid-item2-pictxt img-fluid" style="border: 1px solid black" src="https://www.maxpixel.net/static/photo/1x/Literature-Books-Bookshelf-Shelf-Library-Bookcase-2007660.jpg" alt="bookshelf full of books">
              <div data-aos="slide-left" class="grid-item1-pictxt">
                  <h2 class="text-center">Add to Faves</h2>
                  <p class="text-center">Add the books that peak your interest to your virtual bookshelf. You can tag them to preview them later right here on Book Chat, or to buy them later from your favorite online or physical bookstore.</p>
              </div>
            </div>
          </div>
</div>