<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 data-aos="slide-up" data-aos-once="false">Sign up for our newsletter</h2>
      <div class="input-group input-group-lg">
        <input data-aos="slide-up" type="text" class="form-control" placeholder="Email Address" />
        <span class="input-group-btn"
          ><a href="#">
            <button data-aos="slide-up" type="submit" class="btn btn-lg btn-primary">
              Subscribe
            </button></a
          ></span
        >
      </div>
    </div>
  </div>
</div>

