.container-fluid {
  background-color: black;
  margin-top: 50px;
  color: beige;
}

.col {
  text-align: center;
}

p {
  margin: 0 auto;
}

#nav {
  padding-top: 50px;
}

#nav,
#icons {
  margin-bottom: 25px;
}

#copy {
  padding-bottom: 50px;
}

#icons li {
  display: inline-block;
  padding-right: 20px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  display: inline-block;
}

#icons a {
  color: #337ab7;
}

a {
  color: beige;
}

a:hover {
  color: #337ab7;
}

@media only screen and (min-width: 768px) {
  .col {
    font-size: 16px;
  }

  button {
    padding: 2px 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .col {
    font-size: 18px;
  }

  button {
    padding: 3px 18px;
  }
}
