<div class="container-fluid">
  <div class="row" id="nav">
    <div class="col">
      <a routerLink="/"><p>Home</p></a>
      <a routerLink="/about"><p>About</p></a>
      <a href="#"><p>Contact</p></a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul id="icons">
        <li>
          <a href="#">
            <button btn-social-icon twitter>
              <span class="fa fa-twitter"></span></button
          ></a>
        </li>
        <li>
          <a href="#">
            <button btn-social-icon facebook>
              <span class="fa fa-facebook"></span>
            </button>
          </a>
        </li>
        <li>
          <a href="#">
            <button btn-social-icon pinterest>
              <span class="fa fa-pinterest"></span>
            </button>
          </a>
        </li>
        <li>
          <a href="#">
            <button btn-social-icon instragram>
              <span class="fa fa-instagram"></span>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="copy">
    <div class="col">
      <p>Site by Kelly Diabagate</p>
      <p>&copy;Book Chat 2019. All Rights Reserved.</p>
      <ul>
        <a href="#"><li>Privacy Policy |</li></a>
        <a href="#"><li>&nbsp;Legal |</li></a>
        <a href="#"><li>&nbsp;Terms & Conditions</li></a>
      </ul>
    </div>
  </div>
</div>

<!-- <div id="nav" class="row">
    <div class="col">
      <h5>Navigation</h5>
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>About</li></a>
      </ul>
    </div>
    <div class="col">
      <h5>Legal</h5>
      <ul>
          <a href="#"><li>Privacy Policy</li></a>
          <a href="#"><li>Terms & Conditions</li></a>
      </ul>
    </div>
    <div class="col">
      <h5>Social</h5>
      <ul id="icons">
          <li>
              <a href="#">
              <button btn-social-icon twitter>
                  <span class="fa fa-twitter"></span>
              </button></a>
            </li>
            <li>
              <a href="#"> 
                <button btn-social-icon facebook>
                  <span class="fa fa-facebook"></span>
              </button>
            </a>
            </li>
            <li>
                <a href="#"> 
                  <button btn-social-icon pinterest>
                    <span class="fa fa-pinterest"></span>
                </button>
              </a>
              </li>
              <li>
                  <a href="#"> 
                    <button btn-social-icon instragram>
                      <span class="fa fa-instagram"></span>
                  </button>
                </a>
                </li>
      </ul>
    </div>
  </div>
  <hr>
  <div id="contact" class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="row">
        <div class="col-xs-6">
            <p>1234 Main St.</p>
            <p>City, MO 12345</p>
        </div>
        <div class="col-xs-3">
            <p>Tel: 123-456-7890</p>
        </div>
        <div class="col-xs-3">
            <p>bookchat@email.com</p>
        </div>
      </div>
    </div>
  </div>
  <div id="copy" class="row">
      <div class="col-xs-6 col-xs-offset-3">
          <p>&copy;2019. All Rights Reserved.</p>
      </div>
    </div> -->
